@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RussoOne;
  font-display: swap;
  src: url("../fonts/RussoOne-Regular.woff2") format("woff2"), url("../fonts/RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #000000;
}

.title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.21875;
  color: #000000;
  margin: 0px 0px 20px 0px;
}

@supports (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
  .title {
    font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
  .title {
    font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 55);
  }
}

.btn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #FFFFFF;
  display: inline-block;
  padding: 15px 15px;
  background: -o-linear-gradient(355.57deg, #FFB067 0%, #FF6E67 56.37%);
  background: linear-gradient(94.43deg, #FFB067 0%, #FF6E67 56.37%);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 285px;
}

.btn:hover {
  -webkit-transform: translate(0px, -10px);
      -ms-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.menu__link_orange {
  background: #FFAC67;
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.header {
  background: #545495;
  color: #FFFFFF;
}

.header__body {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
  .header__body {
    min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
  }
}

@supports not (min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
  .header__body {
    min-height: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.header__logo img {
  width: 43px;
  height: 43px;
}

.header__title {
  font-family: "RussoOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2083333333;
}

.header__text {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.header .menu__link {
  font-family: "Rubik";
  padding: 10px 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__link:hover {
  background: #FFAC67;
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
}

.icon-menu {
  display: none;
}

.footer {
  background: #545495;
  color: #FFFFFF;
}

.footer__body {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.footer__logo img {
  width: 43px;
  height: 43px;
}

.footer__title {
  font-family: "RussoOne";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2083333333;
}

.footer__text {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

.footer .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.footer .menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .menu__link {
  font-family: "Rubik";
  padding: 10px 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer .menu__link:hover {
  background: #FFAC67;
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
}

@supports (margin-top: clamp( 2.625rem , 0.625rem  +  10vw , 8.125rem )) {
  .page {
    margin-top: clamp( 2.625rem , 0.625rem  +  10vw , 8.125rem );
  }
}

@supports not (margin-top: clamp( 2.625rem , 0.625rem  +  10vw , 8.125rem )) {
  .page {
    margin-top: calc(2.625rem + 5.5 * (100vw - 20rem) / 55);
  }
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.offer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.offer__title {
  font-family: "RussoOne";
  line-height: 1.21875;
  font-weight: 400;
}

.offer__text {
  margin: 0px 0px 40px 0px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2222222222;
  color: #000000;
}

.offer__btn {
  font-size: 18px;
  line-height: 1.1666666667;
}

.offer__sub-text {
  margin: 15px 0px 0px 0px;
  font-family: "Rubik";
}

.offer__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.offer__image img {
  z-index: -1;
  position: relative;
  margin: 0px 0px 0px -300px;
}

.offer__content {
  padding: 30px 40px;
  background: #F9FFB1;
  -webkit-box-shadow: -3px 9px 15px rgba(0, 0, 0, 0.25);
          box-shadow: -3px 9px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 1;
  margin: -190px 0px 0px -400px;
  width: 650px;
}

.offer__content p:first-child {
  font-family: "Inter";
  font-style: italic;
}

.offer__content p {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
}

.offer__content p:last-child {
  text-align: right;
  margin: 0px 0px 0px 0px;
}

.page__info {
  background: #6DB0B4;
  padding: 50px 0px;
  margin: 100px 0px 0px 0px;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__image {
  margin: 20px 0px 20px 0px;
}

.info__image img {
  width: 125px;
}

.info__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
  color: #FFFFFF;
}

.info__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  margin: 10px 0px 0px 0px;
  text-align: center;
  color: #FFFFFF;
}

@supports (margin-top: clamp( 2.1875rem , 1.1647727273rem  +  5.1136363636vw , 5rem )) {
  .page__opportunities {
    margin-top: clamp( 2.1875rem , 1.1647727273rem  +  5.1136363636vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.1875rem , 1.1647727273rem  +  5.1136363636vw , 5rem )) {
  .page__opportunities {
    margin-top: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 55);
  }
}

.opportunities__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opportunities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opportunities__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.opportunities__list {
  margin: 0px 0px 50px 0px;
}

.opportunities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin: 0px 0px 20px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #000000;
}

.opportunities__item:last-child {
  margin: 0px 0px 0px 0px;
  width: 50%;
}

.opportunities__item:nth-child(3),
.opportunities__item:nth-child(4) {
  width: 60%;
}

.opportunities__item::before {
  content: url("../img/ok.png");
  display: block;
  width: 32px;
  height: 32px;
}

.opportunities__btn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666666667;
}

.opportunities__image img {
  z-index: -1;
  position: relative;
  margin: 0px 0px 0px -300px;
  -webkit-transform: translate(0px, 100px) scale(0.9);
      -ms-transform: translate(0px, 100px) scale(0.9);
          transform: translate(0px, 100px) scale(0.9);
}

.page__values {
  margin: 150px 0px 0px 0px;
}

.values__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.values__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.values__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.values__list {
  margin: 0px 0px 50px 0px;
}

.values__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin: 0px 0px 35px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #000000;
}

.values__item:last-child {
  margin: 0px 0px 0px 0px;
}

.values__item::before {
  content: url("../img/okay.png");
  display: block;
  width: 32px;
  height: 32px;
}

.values__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.values__image img {
  width: 100%;
}

.page__use {
  background: #545495;
  padding: 60px 0px;
}

@supports (margin-top: clamp( 2.1875rem , 1.1647727273rem  +  5.1136363636vw , 5rem )) {
  .page__use {
    margin-top: clamp( 2.1875rem , 1.1647727273rem  +  5.1136363636vw , 5rem );
  }
}

@supports not (margin-top: clamp( 2.1875rem , 1.1647727273rem  +  5.1136363636vw , 5rem )) {
  .page__use {
    margin-top: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 55);
  }
}

.use__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use__title {
  color: #fff;
  margin: 0px 0px 40px 0px;
}

.use__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.use__list {
  margin: 0px 0px 50px 0px;
}

.use__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #fff;
}

.use__item:last-child {
  margin: 0px 0px 0px 0px;
}

.use__item::before {
  content: url("../img/dot.png");
  display: block;
  width: 32px;
  height: 32px;
  margin: 0px 15px 0px 0px;
  -webkit-transform: translate(0px, -25%);
      -ms-transform: translate(0px, -25%);
          transform: translate(0px, -25%);
}

.use__btn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666666667;
}

.use__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports (margin-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .page__about {
    margin-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .page__about {
    margin-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
  .page__about {
    margin-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
  .page__about {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  margin: 0px 0px 65px 0px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.about__list {
  margin: 0px 0px 50px 0px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin: 0px 0px 20px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #000000;
}

.about__item:last-child {
  margin: 0px 0px 0px 0px;
}

.about__item::before {
  content: url("../img/okay.png");
  display: block;
  width: 32px;
  height: 32px;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.about__image img {
  width: 100%;
}

@supports (margin-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .page__service {
    margin-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
  .page__service {
    margin-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  text-align: center;
  margin: 0px 0px 50px 0px;
  color: #000000;
}

.service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  background: #6DB0B4;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 35px 40px;
  color: #fff;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0px 0px 20px 0px;
  z-index: 1;
  position: relative;
}

.card__list {
  position: relative;
  z-index: 1;
}

.card__item {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  margin: 0px 0px 8px 0px;
}

.card__btn {
  position: relative;
  z-index: 1;
  background: #7AC5CA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  padding: 15px 30px;
  margin: 24px 0px 0px 0px;
  cursor: pointer;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 1.1666666667;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__btn:hover {
  -webkit-transform: translate(0px, -10px);
      -ms-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.card__image {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  z-index: 0;
}

@media (max-width: 75em) {
  [class*=__container] {
    max-width: 60.625rem;
  }

  .values__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .use__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .offer__image img {
    -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
            transform: scale(0.65);
    margin: 0px 0px 0px -300px;
  }

  .opportunities__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .opportunities__item:last-child {
    width: 100%;
  }

  .opportunities__item:nth-child(3),
  .opportunities__item:nth-child(4) {
    width: 100%;
  }

  .opportunities__image img {
    -webkit-transform: translate(0px, 0px) scale(1);
        -ms-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    margin: 0px 0px 0px 0px;
    width: 100%;
  }

  .values__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .use__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .btn {
    min-width: 100%;
  }

  .header__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__logo img {
    display: none;
  }

  .header__text {
    font-size: 14px;
  }

  .header .menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .header .menu__body {
    position: fixed;
    width: 85%;
    height: 100%;
    padding: 50px 25px 0px 25px;
    background: #545495;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    top: 0;
    right: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
    z-index: 1000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-open .header .menu__body {
    right: 0;
  }

  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .menu__item {
    width: 250px;
  }

  .header .menu__link {
    background: #FFAC67;
    -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    width: 100%;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1000;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #fff;
    border-radius: 20px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.09375rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.09375rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.09375rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding: 30px 0px;
  }

  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo img {
    width: 84px;
    height: 84px;
    margin: 0px 0px 20px 0px;
  }

  .footer__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__description {
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  .footer__title {
    margin: 0px 0px 10px 0px;
  }

  .footer .menu {
    width: 100%;
  }

  .footer .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .menu__link {
    width: 100%;
  }

  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .offer__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .offer__image img {
    margin: 0px 0px;
    width: 100%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .offer__content {
    padding: 15px 15px;
    margin: -130px 0px 0px 0px;
    width: 100%;
  }

  .offer__content p {
    font-size: 14px;
    margin: 0px 0px 15px 0px;
  }

  .info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }

  .opportunities__title {
    margin: 20px 0px 40px 0px;
    text-align: center;
  }

  .opportunities__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .opportunities__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .opportunities__item {
    font-size: 14px;
  }

  .opportunities__btn {
    min-width: 100%;
  }

  .opportunities__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 20px 0px;
  }

  .opportunities__image img {
    margin: 0px 0px;
    width: 100%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .page__values {
    margin: 50px 0px 0px 0px;
  }

  .values__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .values__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 20px 0px;
  }

  .page__use {
    padding: 30px 0px 60px;
  }

  .use__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .use__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .use__btn {
    width: 100%;
  }

  .use__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 60px 0px;
  }

  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .card {
    padding: 20px 20px;
  }

  .card__item {
    font-size: 14px;
  }

  .card__btn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 29.99875em) {
  .offer__btn {
    width: 100%;
  }

  .offer__content {
    margin: -70px 0px 0px 0px;
  }
}